{% extends 'auth.html' %}

{% block auth %}
  <div class="ui grid">
    <div class="eight wide column">
      <div class="ui fluid form segment">
        <h3 class="ui header">Sign up</h3>
        <form action="/users", method="post">
          <div class="field">
            <label for="name">Full name</label>
            <input id="name" type="text" name="name" placeholder="Full name" value={{user.name}}>
          </div>
      
          <div class="field">
            <label for="email">Email</label> 
            <input id="email" type="text" name="email" placeholder="Email" value={{user.email}}>
          </div>
          <div class="field">
            <label for="username">Username</label> 
            <input id="username" type="text" name="username" placeholder="Username" value={{user.username}}>
          </div>
      
          <div class="field">
            <label for="password">Password</label> 
            <input id="password" type="password" name="password" placeholder="Password">
          </div>
          <button class="ui blue submit button" type="submit">
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
